@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    /*dark deleted*/
    --main-color:#cfb20f;
    --black-body:#1b1b1b;
    --dark-footer:#0c0c0c;
}

*{
font-family: 'Nunito', sans-serif;
margin: 0;
padding:0;
box-sizing:border-box; 
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;
}

html{
    transform: scale(1);
    font-size: 62.5%;
   overflow-x:hidden; 
   scroll-padding-top: 7rem;
scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-track{
    background:#444;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: var(--dark-footer);
    overflow-x: hidden;

}

section{
    padding: 2rem 9%;
    width: 100%

}
.heading{
    text-align:center;
    padding-bottom:2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}
.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor:pointer;
    font-weight: 650;
}

.btn:hover{
    background:var(--main-color);
}

.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 10000;
    background: var(--black-body);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color: #fff;
    font-size: 3.5rem;
    font-family: 'Nunito', sans-serif;
}

.header .logo span{
    color:var(--main-color);
    font-family: 'Nunito', sans-serif;
}

.header .navbar a{
    font-size: 2rem;
    color: #fff;
    margin-right: 2rem;
}
.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
display: none;
}


.home .content{
text-align:center;
padding-top:6rem;
margin:2rem auto;
max-width: 70rem;
}

.home .content h3{
    color: #fff;
font-size:3.4rem;
text-transform: uppercase;
}

.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
    font-size: 3.7rem;
}


/*swiper demos*/
.home .mySwiper .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height:40rem;
    width:35rem;
}

.home .mySwiper .swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.service .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
gap:1.5rem;
}

.service .box-container .box{
    border-radius: .5rem;
    background:var(--black-body);
    text-align: center;
padding: 2.5rem;
}

.service .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
border-radius: 50%;
font-size:2.5rem;
background: var(--main-color);
color:#fff;
}

.service .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding:1rem 0;
}
.service .box-container .box p{
    font-size: 2rem;
    color:#eee;
    line-height: 1.8;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex: 1 1 45rem;
    padding:1rem;
    position: relative;
}
/*
.about #video{

    height: 700px;
    width: 600px;
}

*/
.about .row .content{
    flex: 1 1 45rem;

}
.about__slogan-p{
    color:var(--main-color);
}

.about .row .content h3{
    font-size:3.5rem;
    color:#fff;
}
.about .row .content p{
    font-size: 2rem;
    color:#fff;
    padding:1rem 0;
    line-height:2;
}

 #ceo{
   font-weight: 0;
    margin-left:20rem;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*  our history section*/
.our-history summary{
    color:var(--main-color);
    font-size: 2.5rem;
    text-align: center;
  
}
.our-history .content{
    display: flex;
    border-radius: 20px;
    background-color: var(--black-body);
}
.our-history .year{
    padding: 1.5rem;
 
}
.our-history p{
color: #eee;
font-size: 2rem;
text-align: center;
}

.team-possible .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team-possible .container .card{
    width: 280px;
    height:416px;
    padding: 60px 30px;
    margin:20px;
    background: var(--black-body);
    box-shadow: 0.6em 0.6em 1.2em #000,
    -0.5em -0.5em 1em #000;
    border-radius: 20px;
}

.team-possible .container .card .content{
    display:flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
}
.team-possible .container .card .content .imgBx{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.team-possible .container .card .content .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-possible .container .card .content .contentBx h4{
color: #eee;
font-size: 2rem;
font-weight: bold;
text-align: center;
letter-spacing: 1px;
}
.team-possible .container .card .content .contentBx h5{
    color:var(--main-color);
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.team-possible .container .card .content .sci {
margin-top: 20px;
}
.team-possible .container .card .content .sci a{
    text-decoration: none;
    color:#eee;
    font-size:26px;
    margin:10px;
    transition: color .4s;
}
.team-possible .container .card .content .sci a:hover{
    color:var(--main-color);
}




.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem, 1fr));
gap:1.5rem;
}

.gallery .box-container .box{
    position: relative;
    border: 1rem solid var(--black-body);
    border-radius: .5rem;
    height:25rem;
    cursor: pointer;
    overflow: hidden;
}
.gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit:cover;
}

.gallery .box-container .box:hover img{
    transform: scale(1.1);
    filter: grayscale();
}

.gallery .box-container .box .title{
    position: absolute;
    top:-10rem;left:0;right:0;
    background:var(--black-body);
    color:#fff;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
}
.gallery .box-container .box:hover .title{
top:0;
}
.gallery .box-container .box .icons{
    position: absolute;
    bottom:-10rem;left:0;right:0;
    background:var(--black-body);
    padding-bottom: 1rem;
    text-align: center;
}
.gallery .box-container .box:hover .icons{
    bottom:0;
}
.gallery .box-container .box .icons a{
    font-size:2rem;
    margin:.5rem 1rem;
    color:#fff;

}


.gallery .box-container .box .icons a:hover{
    color: var(--main-color);
}

.price .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.price .box-container .box{
    padding:2rem 0;
    background:var(--black-body);
    border-radius: .5rem;
    text-align: center;
}

.price .box-container .box:hover{
    transform:scale(1.03);
}

.price .box-container .box .title{
background: var(--main-color);
color: #fff;
padding: 1.5rem 0;
font-size:2rem;
}

.price .box-container .box .amount{
    
    color: #fff;
    padding-top: 2rem ;
    font-size:4rem;
}
.price .box-container .box ul{
    list-style-type: none;
    padding: 1rem 0;
}

.price .box-container .box ul li{
 font-size: 1.5rem;
 color:#eee;
 padding: 1rem 0
}

.price .box-container .box ul i{
    color: var(--main-color);
    padding-right:  .5rem;
}

.contact form{
    max-width:70rem;
    margin:1rem auto;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.contact form .inputBox input,
.contact form textarea{
width: 100%;
background: var(--black-body);
border-radius: .5rem;
padding:1rem;
margin:.7rem 0;
font-size:1.5rem;
color:#fff;
text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:#eee;
    text-transform:capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
    color:#eee;
    background: #444;
}
.contact form textarea{
   resize:none; 
}

.footer{
    background:#000;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
}
.footer .box-container .box a{
 display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;
}


.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
padding-right: 1.5rem;
color:#fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid var(--black-body);
    color:#fff;
    padding:2rem;
    padding-top:2.5rem;
    margin-top:1rem;
    font-size: 2rem;
}

.footer .credit span{
    color: var(--main-color);
}


.theme-toggler{
    position: fixed;
    top:10rem; right:-20rem;
    background: var(--dark);
    z-index: 1000;
    width:20rem;
    text-align: center;
}

.theme-toggler.active{
    right:0;
}

.theme-toggler h3{
    color:#fff;
    padding: 1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:1rem;
    padding:1rem;
}

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor:pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top:0; left:-5.9rem;
    padding: 1.3rem 1.5rem;
    background: transparent;
    cursor: pointer;
}


.theme-toggler .toggle-btn i{
    color: #fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}

 @keyframes spin{
    0%{transform: rotate(360deg);
    }
 }



.review .box{
    width: 20.5rem;
    border-radius: 1.2rem;
    background: var(--dark);
    padding: 2rem;

    position: relative;
}

.review .team{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.review .box .user{
    display:flex;
    align-items: center;
    gap:1.5rem;
    padding-bottom: 1rem;
}

.review .box .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  
}

.user-info h3{
    font-size: 2rem;
    color:#fff;
 
}
.review .box .user span{
    font-size: 1.5rem;
    color:#eee;
    text-align: center;
}

.review .user-info span{
    line-height: 2;
    color:#eee;
    padding:.5rem 0;
    font-size: 1.6rem;
}
















/*media queries*/

@media(max-width:991px){
  html{
    font-size: 55%;
  }  
.header{
    padding:1.5rem 2rem;
}

section{
    padding:2rem;
}

}

@media(max-width:768px){
   
#menu-bars{
    display: initial;
}   
    .header .navbar{
        position: absolute;
        top: 100%;left: 0;right: 0;
        border-top: .1rem solid var(--black-body);
        background: var(--dark);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
    }

    .fa-times{
        transform: rotate(180deg );
    }
    .header .navbar a{
display: flex;
background:var(--black-body);
border-radius: .5rem;
padding:1.3rem;
margin: 1.3rem;
font-size: 1.5rem;
    }

    .home .content h3{
        font-size: 4rem;
    }

}


@media(max-width:450px){
    html{
      font-size: 50%;
    }  
    .home .mySwiper .swiper-slide{
        width:27rem ;
    }

    .our-history .summary{
        font-size: 1rem;
        width: 50%;
    }


  .header{
      padding:1.5rem 2rem;
  }
  
  }
  